<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css')}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pagina de login</title>
</head>
<body>
    <div class="conteiner-principal">
        
        <div class="titulo">
            <h1>Login</h1>
        </div>
        <hr>
            <div class="conteiner-inputs">
                <div class="input-email">
                    <i class="fa-solid fa-envelope"></i>
                    <input id="email" type="email" placeholder="Digite seu email">
                </div>
                <div class="input-senha">
                    <i class="fa-solid fa-lock"></i>
                    <input id="senha" type="password" placeholder="Digite sua senha">
                </div>
            </div>
        </hr>
        <div class="bnt-login">
            <button id="btn-login">Entrar</button>
        </div>
        <div class="link">
            <a href="/cadastro">Não tem conta? Cadastre-se!</a>
        </div>
    </div>
    <script>
       function login(){
        let email = document.getElementById("email").value
        let senha = document.getElementById("senha").value
        fetch("/login",{
            method: "POST",
            headers: {"Content-Type": "application/json"},
            body: JSON.stringify({email, senha})
        })
        .then(res => res.json())
        .then(dados =>{
            if (dados.mensagem) {
                window.location.href = "/"
            } else {
                alert(dados.ERRO)
            }
        })
       }
        document.getElementById("btn-login").onclick = login
    </script>
</body>
</html>